<%- partial('_partial/head') %>
<body class="<%= is_post() ? 'is-post' : '' %>">
  <%- partial('_partial/header') %>
  <% if (is_post()) { %>
    <%- partial('_partial/post/banner') %>
  <% } %>
  <div id="container">
    <div id="main-wrap">
      <section id="main">
        <%- body %>
      </section>
      <%- partial('_partial/sidebar') %>
    </div>
    <%- partial('_partial/footer') %>
  </div>
  <%- partial('_partial/mobile-nav') %>
  <%- partial('_partial/search') %>
  <!-- Back to Top Button -->
  <a id="back-to-top" href="javascript:void(0);" title="Back to Top">
    <i class="fas fa-arrow-up"></i>
  </a>
  <%- js('js/script') %>
</body>
</html>