<%- partial('_partial/head') %>
<body class="<%= is_post() ? 'is-post' : '' %>">
  <% if (is_post()) { %>
    <div id="reading-progress-bar"></div>
  <% } %>
  <%- partial('_partial/header') %>
  <% if (is_post()) { %>
    <%- partial('_partial/post/banner') %>
  <% } %>
  <div id="container">
    <div id="main-wrap">
      <!-- Left Sidebar for TOC (Only on Posts) -->
      <% if (is_post() && page.toc !== false) { %>
        <aside id="left-sidebar">
           <div id="toc-container">
             <h3 class="toc-title"><i class="fas fa-list-ol"></i> Contents</h3>
             <div class="toc-widget">
               <%- toc(page.content, {list_number: true, max_depth: 6}) %>
             </div>
           </div>
        </aside>
      <% } %>

      <section id="main">
        <%- body %>
      </section>
      <%- partial('_partial/sidebar') %>
    </div>
    <%- partial('_partial/footer') %>
  </div>
  <%- partial('_partial/mobile-nav') %>
  <%- partial('_partial/search') %>
  <!-- Back to Top Button -->
  <a id="back-to-top" href="javascript:void(0);" title="Back to Top">
    <i class="fas fa-arrow-up"></i>
  </a>
  <%- js('js/script') %>
</body>
</html>